<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OpenShifter</title>

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/coreui.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed footer-fixed">
<header class="app-header navbar">
    <a class="navbar-brand" href="#">OpenShifter</a>
</header>
<div class="app-body" id="app">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <router-link class="nav-link" to="/"><i class="fa fa-dashboard"></i> Dashboard</router-link>
                    <router-link class="nav-link" to="/generator"><i class="fa fa-cog"></i> Generator</router-link>
                    <router-link class="nav-link" to="/deploy"><i class="fa fa-cog"></i> New deployment</router-link>
                </li>
            </ul>
        </nav>
    </div>
    <main class="main">
        <router-view></router-view>
    </main>
    <aside class="aside-menu">
    </aside>
</div>
<footer class="app-footer">
</footer>

<script src="/static/js/esprima.js"></script>
<script src="/static/js/yaml.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/tether.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/router.js"></script>
<script src="/static/js/app.js"></script>
</body>
</html>