[OSEv3:children]
masters
nodes

[masters]
{{.State.Master}}{{if not .Nodes.Infra}} openshift_schedulable=true{{end}}

[nodes]
{{.State.Infra}} openshift_schedulable=true openshift_node_labels="{'region': 'infra', 'zone': 'default'}"
{{range $index, $element := .State.Nodes}}
{{$element}} openshift_schedulable=true openshift_node_labels="{'region': 'primary', 'zone': 'default'}"
{{end}}

[OSEv3:vars]
ansible_user=openshift
ansible_become=yes

containerized=True
os_sdn_network_plugin_name='redhat/openshift-ovs-multitenant'

{{if eq .Type "ocp"}}
deployment_type=openshift-enterprise
{{else}}
deployment_type=origin
{{end}}

{{if not (eq .Release "")}}openshift_release={{.Release}}{{end}}

{{if .Components.metrics}}
openshift_hosted_metrics_deploy=True
{{end}}

{{if .Components.logging}}
openshift_hosted_logging_deploy=True
{{if not (eq .Release "")}}openshift_logging_image_version={{.Release}}{{end}}
{{end}}

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/master/htpasswd'}]

openshift_public_hostname=console.{{.Name}}.{{.Dns.Suffix}}
openshift_master_default_subdomain=apps.{{.Name}}.{{.Dns.Suffix}}
