<div>
    <ol class="breadcrumb">
        <i class="fa fa-cog"></i> New deployment
    </ol>
    <div class="container-fluid">
        <div id="content">
            <div v-for="deployment in deployments">
                <button class="btn btn-info" v-on:click="new_deployment(deployment)">Start deployment of {{ deployment }}</button>
                <button class="btn btn-info" v-on:click="destroy_deployment(deployment)">Destroy deployment of {{ deployment }}</button>
            </div>
        </div>
    </div>
</div>